 <div class="announcementbar">
   <div class="continer text-center">
    <p>
        {{ section.settings.anctMessage }}
    </p>
   </div>
   <div class="container">
    <a href="{{ section.settings.btnLink }}">{{ section.settings.btnText }}</a>
    
   </div>
 </div>

 {% schema %}
 {
    "name": "Announcement bar",
    "settings": [
        {
            "type": "text",
            "id": "anctMessage",
            "label": "Text",
            "default": "Sign up and get 30% off to your first order. Sign Up Now"
 
        },
        {
            "type": "text",
            "id": "btnLink",
            "label": "Button Link",
            "default": "https://example.com"
        },
        {
            "type": "text",
            "id": "btnText",
            "label": "Button Text",
            "default": "Click Here"
        }
    ]
 }
 {% endschema %}